body{
    background-color: darkolivegreen;
}

table{
    background-color: antiquewhite;
}

.jumbotron{
    background-color: antiquewhite;
    margin: auto;
    width: 80%;
}

.card{
    background-color: antiquewhite;
    margin:auto;
    width: 40%;
}

.bumper{
    margin: 15px;
}

.content{
    width: 40%;
    margin: auto;
    background-color: antiquewhite;
    border: solid 2px olivedrab;
    border-radius: 8px;
    padding: 10px;

}

nav{
    background-color: antiquewhite;
}